Implement CAA verification as per RFC 6844 (specifically checking the immediate parent rather than apex)

The  [CAA verification in pages-health-check only](https://github.com/github/pages-health-check/blob/master/lib/github-pages-health-check/caa.rb) looks for `CAA` records at the hostname level first, and if none are found, then checks __at the apex level (based on the Public Suffix definition)__, with `lets_encrypt_allowed?` returning `true` if either returns a `CAA` `issue` record for `letsencrypt.org`. If no `CAA` records are found for either, then `true` is also returned.

[Section 4 of RFC 6844](https://tools.ietf.org/html/rfc6844#section-4) in combination with the [errata](https://www.rfc-editor.org/errata/eid5065), indicates that the correct behaviour is to check for CAA records in the following order, 

1. The hostname.
2. The target of a `CNAME` or `DNAME` record for the hostname (if any).
3. __The immediate parent of the hostname.__

The first set of `CAA` records found should be used.

Let's Encrypt have also [put together a good explanation of the intended behaviour](https://letsencrypt.org/docs/caa/).

In the case of GitHub pages, `CAA` records do not existing for the individual `.github.io` hostnames, so step 2 can be skipped. That leaves step 3 as the point where the current implementation differs from the RFC.


## Example

Take an example of a custom domain of `www.org.example.com`, which is a `CNAME` to `pages.github.io`.

### Current behaviour

Check each of the following, in this order, stopping and respecting the __first set of `CAA` records found__:

- `www.org.example.com`
- `example.com`

### RFC 6844 compliant behaviour

Check each of the following, in this order, stopping and respecting the __first set of `CAA` records found__:

- `www.org.example.com`
- `pages.github.io` (target of `www.org.example.com` ALIAS, can be skipped in the case of GitHub Pages.)
- `org.example.com`

Edit: Updated to take in to account the errata at https://www.rfc-editor.org/errata/eid5065.